/*Main*/
  i,a, span, li {color: #4c4b6c}

/*Standards*/
.b-r {border-right: 1px solid grey}
.t-r {text-align: right}
.dnone {display: none}
.f-b {font-weight: bold;}
.def_color_txt{color: #4b4b6b;}
.cl_both {clear: both;}
ul {list-style: none;padding: 0; margin:0; display:inline-block;}
.color-grey {color: grey;}
.active_dots {list-style: circle;}
.active {display: block;}

/*Header*/
/*Top*/

.bg_grey{
	background: #f7f7f7;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
}
/*	
.get_arrow:after {
	content: ">";
	transform: rotate(90deg);
	position: absolute; right: 5px;
	bottom: 0px;
}
*/
sup.count_gift {
	background: red;
	border-radius: 50px;
	width: 12px;
	height: 13px;
	display: inline-block;
	position: absolute;
	right: 0;
	top: -4px;
	text-align: center;;
	line-height: 1.5;
	color: white;
	font-size: 8px;
}

span.block_podarki {
	position: relative;
}

/*Middle*/
.menu_desc .levaya {
	float: left;
	background: #f4f4f4;
	padding: 13px;
	border-radius: 50px;
	height: 40px;
	width: 40px;
	line-height: 0;
}

.menu_desc .desc_pravaya {
	display: inline-block;
	margin-left: 10px;
}
.menu_desc .desc_pravaya p{
	margin-bottom: 0;
	font-size: 14px;
}
/*Bottom*/
.search_form input[type="search"] {
	width: 300px;
	border-radius: 20px;
}

.search_form button{
	border-radius: 50px;
	position: absolute;
	right: 0;
	background: white;
	border: 1px solid #ced4da;
	width: 53px;
}
form.from-inline.my-2.my-lg-0.search_form {}

.search_form {
	position: relative;
}
.search_form button i {
	color: black;
}
.search_form button:hover {
	background: #4b4b6b;
	border: 1px solid #ced4da;
}
.search_form button:hover i {
	color: white;
}

.cart_open i {
	color: white;
}
.icon_cart {
	padding: 5px;
	background: #fc3;
	color: white;
	width: 34px;
	height: 34px;
	text-align: center;border-radius: 50px;
	line-height: 1.7;
	float: left;
	margin-top: 3px;
}
.korzina_kolichestvo {
	display: inline-block;
	margin-left: 10px;
	font-size: 13px;
}
.korzina_kolichestvo p {
	margin-bottom: 0;
}
.korzina_kolichestvo > p:first-child {
	font-size: 14px;
	font-weight: bold;
	color: #4b4b6b;
}
.korzina_kolichestvo span {
	font-size: 12px;
	font-weight: bold;
}
.cart .dropdown-toggle:after {
	display: none;
}
.cart .dropdown-menu {
	left: -47px;

}
.dropdown-menu {
	top: 50px;
}
/* Container */

.block_photo li {
	float: left;
	width: 50%;
	padding: 7px;
}

.block_photo li img {
	width: 100%;
	object-fit: cover;

}
.block_photo {
	padding: 0px;
	list-style: none;
}
.block_photo img:hover {
	box-shadow: 0px 0px 13px -5px black; 
	border-radius: 5px;
	transition: .5s;
}
.block_photo img {
	transition: .5s;
}
.title {
	font-size: 30px;
	
}
.review {
	font-size: 13px;
	font-style: italic;
}
.review img {
	height: 30px;
}
.mini_desc {
	font-size: 18px;
}
.price{
	font-size: 25px;
	font-weight: bold;
}
.list_option span {

width: 25px;
height: 25px;
border-radius: 50px;
display: inline-block;
margin: 1px;
}
ul.list_option li {
	float: left;
	margin: 5px;
	border: 1px solid transparent;
	border-radius: 50px;
	height: 29px;
	width: 29px;
	transition: .5s;
}
ul.list_option li:hover,
ul.list_option li.active {
	border: 1px solid #777777;
	transition: .5s;
	cursor: pointer;
}
ul.list_option {
	padding: 0px;
	list-style: none;
}
.ul.list_option li:first-child {
	margin-left: 0;
}
.birch {
	background: #24F5E6;
}
.yellow {
background: #F5F024;
}
.blue {
background: #24B1F5;
}
.pink {
background: #ffc0cb;
}
.green {
background: #a8d59d;
}
.product_option p{
	font-weight: bold;
}
.product_massa {
	clear: both;
}
.product_massa ul.list_option li {
	text-align: center;
	margin: 5px 10px;
	width: 35px;
}
.product_massa ul.list_option li span {
	background: #e4e4e4;
	width: 42px;
	transition: .5s;
}
.product_massa ul.list_option li span:hover,
.product_massa ul.list_option li.active span {
	background: #4b4b6b;
	color: white;
	transition: .5s;
}

/* lesson 22*/
.count_product button {
	border: none;
	background: transparent;
}
input.js-number {
	width: 65px;
	height: 40px;
	text-align: center;
	background: #f4f4f4;
	border: none;
	border-left: 1px dashed white;
	border-right: 1px dashed white;
}
.count_product {
	background: #f4f4f4;
	border-radius: 40px;
	text-align: center;
}
.product_btns a {
	width: 40px;
	height: 40px;
	display: inline-block;
	text-align: center;
	line-height: 2.5;
	background: #f4f4f4;
	border-radius: 40px;
	margin-right: 10px;
}
ul.head_tabs li {
	float: left;
	margin: 5px 15px;
	font-size: 19px;
	border-bottom: 2px solid transparent;
	transition: .5s;
	color: grey;
}
ul.head_tabs li.active, ul.head_tabs li:hover {
	border-bottom: 2px solid #4b4b6b;
	transition: .5s;
	color: #4b4b6b;
	cursor: pointer;
}
ul.head_tabs li {
	float: left;
	margin: 5px 15px;
	font-size: 19px;
	
}
ul.head_tabs li:first-child {
	margin-left: 0
}
.comment textarea, .comment input {
	border: 1px solid #bebebe;
	font-size: 14px;
	padding: 0 15px;
}
.comment input {
	height: 40px;
	width: 210px;
}

input[type="submit"] {
    border-radius: 30px;
    color: white;
    background: #4c4b6c;
    transition: .5s;
}
input[type="submit"]:hover {
	background: skyblue;
	transition: .5s;
}

/*Block2*/

.share2 {
	display: inline-block;
	float: left;

}
.share li {
	float: left;
	padding: 0 10px;
}
.share p {
	display: inline-block;
}
.btn_block {
	display: inline-block;
	width: 100%;
}
.left_btn {
    float: left;
    margin-bottom: 60px;
}
.left_btn a {
    padding: 10px 15px;
    background: #eee;
    border-radius: 50%;
    float: left;
    margin-right: 14px;
}
.left_btn p {
    float: left;
    font-family: poppins;
    color: #4c4b6c;
    font-weight: 500;
}
.right_btn {
    text-align: right;
}
.right_btn p {
    float: right;
    font-family: poppins;
    color: #4c4b6c;
    font-weight: 500;
}
.right_btn a {
    padding: 10px 15px;
    background: #eee;
    border-radius: 50%;
    float: right;
    margin-left: 14px;
}
/*Lesss23*/
button.slick-prev.slick-arrow{
    position: absolute;
    right: 63px;
    top: 0;
    left: auto;
}

.slick-prev:before, .slick-next:before {
    color: #4b4b6b!important;
    font-size: 35px!important;
    opacity: 1!important
}

button.slick-next.slick-arrow {
    right: 23px
}

button.slick-next.slick-arrow,
button.slick-prev.slick-arrow {
    top: -35px;
}

.txt_related {
	font-size: 28px;
    color: #4b4b6b;
}
.related_block {
	background: #efefef;
    padding: 50px 0;
}
    /*LESSON 24*/

.desc_on_img {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 210px;
    background: #ffffff9e;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
}

.price {
    font-size: 18px;
    font-weight: bold;
}
.staraya_cena {
    font-size: 14px;
    color: grey;
    text-decoration: line-through;
    margin-left: 12px;
}

span.lbl_title {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    color: white;
    padding: 3px 6px;
    border-radius: 8px;
    font-size: 13px;
    text-align: center;
} 


.lbl_title.red {
    background: red
}
.lbl_title.pink{
    background: #a3285b;
}
.lbl_title.green{
    background: #2ac80d;
}

.desc_on_img h4{
    margin-bottom: 0;
    margin-top: 74px;
}
.desc_on_img em span {
    color: #2ac80d;
}
.product_cont:hover .desc_on_img{
    opacity: 1;
    transition: 0.5s;
}

.color >span {
    border: 1px solid #bcbcbc;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    transition: .5s;
}

span.red {
    background: red;
}

span.green {
    background: #2ac80d;
}

span.pink {
    background: #a3285b;
}

.color {
    margin: 30px 0px 0;
}

.color >span:hover {
    box-shadow: 0px 0px 2px #6b6b6b;
    transition: .5s;
}

.massa span {
    border: 1px solid grey;
    padding: 3px;
    background: #4b4b6b;
    color: white;
    transition: .5s;
}

.massa {
    margin-top: 7px;

}

.massa span:hover {
    background: white;
    color: #4b4b6b;
    transition: .5s;
}
.product_btns > a:hover {
    background: #494b69;
    transition: .5s;
    box-shadow: 0px 0px 4px #494b69;
}

.product_btns > a {
    transition: .5s;
}

.product_btns > a:hover span {
    color: white;
}

.ajax img {
    width: 85px;
}
.dannye_tovarov.ajax a{
    width: 100%;
}
span .txt_color{
    opacity: 0;
}
p.product_color, p.product_massa {
    font-size: 13px;
    font-weight: 100;
    color: grey;
    text-transform: lowercase;
    margin-bottom: 0px;
}
span.lbl_title:before {content: ""; position: absolute;border-bottom: 10px solid transparent;left: 12px; bottom: -7px;z-index: 1;}
span.green:before {border-left: 9px solid #2ac80d}
span.red:before{border-left: 9px solid #ff0000}
span.pink:before{border-left: 9px solid #a3285b}

/* ne srabotalo
span.green:before {
    border-left: 9px solid #2ac80d;
}

span.lbl_title:before {
    content: "";
    position: absolute;
    border-bottom: 10px solid transparent;
    left: 12px;
    bottom: -7px;
    z-index: 1;
}
*/